header::before {
	content: '';
	display: inline-block;
	width: 367px; /* Adjust the size as needed */
	height: 75px; /* Adjust the size as needed */
	background-image: url('../partner/partner-logo.png'); /* Path to the replacement image */
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.grid-item {
	transition: transform 0.5s ease-in-out;
}

.grid-item:hover {
	transform: rotate(360deg);
}
